# login_message_cow
#cowsay
rank-amateur-cowsay @ https://github.com/tnalpgge/rank-amateur-cowsay@master
curl
fortune==9708
lolcat

# login_message_pokemon
#cowsay
rank-amateur-cowsay
curl
fortune==9708
pokemonsay==1.0.0

# login_message
login_message_cow
login_message_pokemon

# cppcomp
g++
gcc