# add_gcc
homebrew
mklink

# cppcomp
g++
gcc

# login_message
login_message_cow
login_message_pokemon

# login_message_cow
#cowsay
rank-amateur-cowsay
curl
fortune==9708
lolcat

# login_message_pokemon
#cowsay
rank-amateur-cowsay
curl
fortune==9708
pokemonsay

# mv_and_link
mklink